body.authenticated #current-user-email {
  margin-top: -1.5em;
  float: left;
  clear: left;
  padding-top: 0;
  font-size: small;
  height: auto;
}

body.authenticated #logout-button {
  margin-top: 15px;
}

.nav-tabs>li {
  font-size: 120%;
}

.tab-content {
  max-width: 330px;
}

#authentication-form .checkbox {
  display: block;
  margin: 0 0 10px 5px;
}

.help-block {
  font-size: inherit;
}

.tab-pane {
  padding: 1em .5em;
}

#client-list-form textarea {
  resize: vertical;
  height: 17.5em;
  margin-bottom: .5em;
}

#client-list-form #save-confirmation-message {
  display: none;
}

button i.fa-spinner {
  display: none;
}

button:disabled i.fa-spinner {
  display: inline;
}
